 @using PagedList;
@using PagedList.Mvc;
@model PagedList.IPagedList<QLPKPV.Context.Product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Quản lý sản phẩm</h2>

<p>
    @Html.ActionLink("Tạo sản phẩm mới", "Create")
</p>
@using (Html.BeginForm("Index", "Product", FormMethod.Get))
{
    <p>
        Tìm kiếm sản phẩm : @Html.TextBox("SearchString", ViewBag.CurrentFilter as string,new { @placeholder = "Nhập tên sản phẩm..." })
        <input type="submit" class="btn btn-primary"  value="Tim kiem" />
    </p>
}
<table class="table">
    <tr>
        <th>
            Tên sản phẩm
        </th>
        <th>
          Hình nền
        </th>
        <th>
            Danh mục
        </th>
        <th>
            Mô tả ngắn
        </th>
        <th>
            Mô tả chi tiết
        </th>
        <th>
            Giá gốc
        </th>
        <th>
            Giá khuyến mãi
        </th>
        
        
     
        <th>
           Thời gian tạo
        </th>
        <th>
          Thời gian cập nhật
        </th>
        <th>
            Chức năng
        </th>
        
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Avatar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShortDes)
            </td>
            <td>
                @item.FullDesciption
               
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PriceDiscount)
            
            
            <td>
                @Html.DisplayFor(modelItem => item.CreatedOnUtc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdateOnUtc)
            </td>
            <td>
              
                @Html.ActionLink(" ", "Edit", new { id = item.Id },new {@class= "fa fa-pen-square" })
                @Html.ActionLink(" ", "Details", new { id = item.Id }, new { @class = "fa fa-info" })
                @Html.ActionLink(" ", "Delete", new { id = item.Id }, new { @class = "fa fa-trash" })
            </td>
        </tr>
    }

</table>
Trang @(Model.PageCount<Model.PageNumber ? 0 :Model.PageNumber) of @Model.PageCount
@Html.PagedListPager(Model,page=>Url.Action("Index",
    new { page, currentFilter = ViewBag.CurrentFilter }))
<style>
    .pagination {
        display:flex;
        justify-content:center;
        align-content:center;
        
        
    }
    .pagination li a {
        padding:8px 12px;
        border:1px solid #ccc;
    }
        .pagination li a:hover {
            background:#00ff21;

        }
</style>
