@model IEnumerable<QLPKPV.Context.Order>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2> Quản lý Đơn đặt hàng</h2>


<table class="table">
    <tr>
        <th>
            Tên đơn hàng
        </th>
        <th>
           Tình trạng
        </th>
        <th>
           Thời gian tạo
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserId)
        </th>
        <th>
            Chức năng
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedOnUtc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserId)
        </td>
        <td>
            @Html.ActionLink("  ", "Edit", new { id=item.Id }, new { @class = "fa fa-pen-square" }) 
            @Html.ActionLink("   ", "Details", new { id=item.Id }, new { @class = "fa fa-info" }) 
            @Html.ActionLink("   ", "Delete", new { id=item.Id }, new { @class = "fa fa-trash" })
        </td>
    </tr>
}

</table>
